.book-card {
    width: 80%;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    *:not(:last-child) {
        margin-right: 10px;
    }
}

.img {
    aspect-ratio: 1;
}

.book-card__link {
    display: flex;
    text-decoration: none;
}

.book-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.book-card__misc {
}
