.book-card {
  margin: 10px;
  padding: 10px;
  display: flex;
  *:not(:last-child) {
    margin-right: 10px;
  }
  img {
    width: 5%;
  }
}
.book-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.book-card__misc {}
