<div class="auth">
  <div class="wrapper">
    <form
      [formGroup]="authFormGroup"
      (ngSubmit)="onSubmit(); $event.preventDefault()"
      name="auth"
      class="auth-form">
      <label>Username
        <input
          type="text"
          name="auth"
          formControlName="username"
          class="auth-input">
      </label>
      <label>Password
        <input
          type="password"
          name="auth"
          formControlName="password"
          class="auth-input">
      </label>
      <button type="submit" class="auth-button">Confirm!</button>
    </form>
    <br>
    <div>
      <h5 *ngIf="type === 'register'">Already have an account? <a routerLink="/auth/login">Login!</a></h5>
      <h5 *ngIf="type === 'login'">Don't have an account? <a routerLink="/auth/register">Register one!</a></h5>
    </div>
  </div>
</div>

