.navbar {
  position: fixed;
  top: env(safe-area-inset-top, 0);
  left: env(safe-area-inset-left, 0);
  right: env(safe-area-inset-right, 0);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-color);
  border-bottom: 1px solid var(--border-color);

  & > * {
    margin: 10px;
  }
}

