<div class="wrapper">
    <div class="content">
        <div class="left-side">
            <img
                class="img"
                [ngSrc]="environment.imageUrl + book.coverName"
                width="200"
                height="300"
                alt=""
                priority
            >
            <app-big-want-to-read-button [bookId]="book.id"/>
        </div>

        <div class="main-text">
            <h2 class="title">
                {{book.title}}
            </h2>
            <h2>{{book.author.firstName}} {{book.author.middleName}} {{book.author.lastName}}</h2>
            <div>
                Average Rating {{book.averageRating}} Ratings {{book.ratings}}
            </div>
            <p class="description">
                {{book.description}}
            </p>
            <div class="genres">
                <p class="genres-title">Genres</p>
                <div
                    class="genre"
                    *ngFor="let genre of book.genres">
                    {{genre.name}}
                </div>
            </div>
        </div>
    </div>
</div>
