.small-want-to-read-button {
  display: flex;
  min-width: 100px;
  border-radius: 5px;
  z-index: 0;
  & * {
    white-space: nowrap;
    border: none;
    background: var(--accent-color);
    margin: 0;
    padding: 3px 5px;
  }
  & img {
    padding: 0;
  }
}

.options {
  display: none;
  flex-direction: column;
  position: absolute;
  transform: translate(0, 25px);
  background-color: var(--secondary-background-color) !important;
  border: 1px solid var(--border-color) !important;
  & * {
    font-size: 12px;
    background-color: var(--secondary-background-color) !important;
  }

  &.open {
    display: flex;
  }
}

.arrow-down {
  rotate: 180deg;
  transition-duration: 1s;
}
