<div class="small-want-to-read-button">
  <button>Want to read</button>
  <button (click)="toggleIsOpen()">
    <img
      [class]="isOpen ? 'arrow-down' : ''"
      ngSrc="https://www.svgrepo.com/show/257744/up-arrow.svg"
      width="15"
      height="15"
      alt=""
    />
  </button>
  <div [class]="isOpen ? 'options open' : 'options'">
    <button (click)="addToBookshelf(DefaultBookshelfNames.toRead)">Want to read</button>
    <button (click)="addToBookshelf(DefaultBookshelfNames.currentlyReading)">Currently reading</button>
    <button (click)="addToBookshelf(DefaultBookshelfNames.read)">Read</button>
  </div>
</div>


