.button-wrapper {
  display:inline-flex;
  justify-content: space-around;
  background: var(--accent-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  overflow: hidden;
  min-width: 100%;
  & * {
    background: var(--accent-color);
    border: none;
  }
}
.button {
  padding: 7px;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  &_text {
    font-size: 15pt;
  }
  &_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 8px 12px;

    border-radius: 50%;
    border: 1px solid var(--border-color);
    background-color: var(--accent-color);
    &:hover {
      background-color: var(--background-hover);
    }
    transition-duration: 1.5s;
  }
}
