[data-theme="light"] {
  --background-color: #EADBC8;
  --secondary-background-color: #DAC0A3;
  --border-color: #102C57;
  --accent-color: #ffe5ea;

  --font-color: black;
  --secondary-font-color: #2f2f2f;

  --body-background-color: #FEFAF6;

  --background-hover: #b69fa0;
}

[data-theme="dark"] {
  --background-color: #1c1c1c;
  --secondary-background-color: #31304D;
  --border-color: #e5e8ea;
  --accent-color: #5b0000;

  --font-color: #e5e8ea;
  --secondary-font-color: #d3d3d3;

  --body-background-color: #333333;

  --background-hover: #074c6c;
}
